:root {
    --blue: #2a4dd0;
    --green: #4ca154;
    --dark: #111729;
    --gray-dark: #223344;
    --gray-mid: #909193;
    --gray-light: #f2f9fe;
    --light: #ffffff;
    --default-transition: all 0.3s ease-in-out;
}

:root[data-theme="light"] {
    --switch-bg: var(--dark);
    --switch-circle: var(--light);
    --icon-sun: var(--dark);
    --icon-moon: var(--light);
    --switch-circle-pos: -0.22rem;
    --bg: var(--gray-light);
    --text-color-primary: var(--gray-dark);
    --text-color-secondary: var(--gray-mid);
}

:root[data-theme="dark"] {
    --switch-bg: var(--gray-dark);
    --switch-circle: var(--light);
    --icon-sun: var(--light);
    --icon-moon: var(--dark);
    --switch-circle-pos: -140%;
    --bg: var(--dark);
    --text-color-primary: var(--light);
    --text-color-secondary: var(--gray-mid);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--bg);
    transition: var(--default-transition);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2.2rem;
    height: 100vh;
    position: relative;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--bg);
    transition: var(--default-transition);
    animation: slide-in-from-top 0.5s ease-out forwards;
}

.navbar {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.link {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color-secondary);
}

.link-active {
    color: var(--text-color-primary);
    color: var(--text-color-primary);
}

.hero-wrapper {
    display: grid;
    place-items: center;
    height: 100%;
    padding-top: 5rem;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.left-section {
    width: 80%;
    height: 100%;
}

.hero-sub-heading {
    text-transform: uppercase;
    color: var(--text-color-primary);
    color: var(--text-color-primary);
    font-size: 0.875rem;
    animation: slide-in-from-left 0.4s ease-out forwards;
}

.hero-heading {
    color: var(--text-color-primary);
    color: var(--text-color-primary);
    font-size: 3.75rem;
    margin: 1rem 0;
    line-height: 5.5rem;
    animation: slide-in-from-left 0.6s ease-out forwards;
}

.hero-para {
    color: var(--gray-mid);
    font-size: 1.125rem;
    line-height: 1.8rem;
    margin: 1.5rem 0;
    font-weight: 500;
    animation: slide-in-from-left 0.9s ease-out forwards;
}

.btns-wrapper {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    animation: slide-in-from-left 1.2s ease-out forwards;
}

.primary-btn {
    background-color: var(--blue);
    color: var(--light);
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
}

.secondary-btn {
    background-color: transparent;
    color: var(--blue);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--blue);
}

.promises-wrapper {
    animation: slide-in-from-left 1.4s ease-out forwards;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.promise {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.check-icon {
    width: 1.5rem;
}

.promise-para {
    color: var(--gray-mid);
    font-size: 0.875rem;
    font-weight: 500;
}

.right-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img {
    animation: rotate-and-slide-in-from-right 1.4s ease-out forwards;
    width: 100%;
}

#hamburger-menu {
    display: none;
    cursor: pointer;
    margin-right: 1rem;
}

#hamburger-menu .line {
    width: 2rem;
    height: 0.1rem;
    background-color: var(--dark);
    margin: 0.5rem;
}

/* Theme Switcher  */

#theme-switcher {
    background-color: var(--switch-bg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.26rem;
    position: relative;
    transition: var(--default-transition);
}

#theme-switcher::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--switch-circle);
    border-radius: 50%;
    z-index: 0;
    right: 0;
    transform: translateX(var(--switch-circle-pos));
    transition: var(--default-transition);
}

#theme-switcher svg {
    z-index: 1;
}

#icon-sun {
    fill: var(--icon-sun);
    stroke: var(--icon-sun);
    transition: var(--default-transition);
}
#icon-moon {
    fill: var(--icon-moon);
    transition: var(--default-transition);
}

/* Theme Switcher */

.mobile-menu {
    display: none;
}

@media (max-width: 1024px) {
    .hero {
        grid-template-columns: 1fr;
        padding: 4rem;
    }
    .left-section {
        width: 100%;
    }

    .hero-para {
        width: 60%;
    }

    .right-section {
        grid-row: 1;
    }
    .hero-img {
        width: 80%;
        margin-right: 2rem;
    }
}
@media (max-width: 640px) {
    html {
        font-size: 13px;
    }
    #hamburger-menu {
        transition: var(--default-transition);
        display: block;
        position: relative;
        z-index: 50;
    }

    .nav-links {
        transition: var(--default-transition);
        display: none;
    }

    #theme-switcher {
        display: none;
    }
    #theme-switcher.mobile {
        display: block;
    }

    #hamburger-menu.active + .nav-links {
        display: flex;
        flex-direction: column;
    }

    #hamburger-menu .line {
        transition: var(--default-transition);
    }

    #hamburger-menu.active .line:nth-child(1) {
        transition: var(--default-transition);
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    #hamburger-menu.active .line:nth-child(2) {
        transition: var(--default-transition);
        opacity: 0;
    }

    #hamburger-menu.active .line:nth-child(3) {
        transition: var(--default-transition);
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .mobile-menu.active-menu {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        padding-top: 7rem;
        transition: var(--default-transition);
        width: 70vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--light);
    }

    .link {
        font-size: 3rem;
    }

    .hero {
        padding: 1rem;
    }
    .left-section {
        width: 100%;
        padding-bottom: 3rem;
    }

    .hero-para {
        width: 80%;
    }

    .right-section {
        margin-top: 2rem;
        grid-row: 1;
    }
    .hero-img {
        width: 100%;
    }
}

@keyframes slide-in-from-left {
    0% {
        transform: translateX(-100%);
        filter: blur(10px);
    }
    100% {
        transform: translateX(0);
        filter: blur(0px);
    }
}

@keyframes slide-in-from-top {
    0% {
        transform: translateY(-100%);
        filter: blur(10px);
    }
    100% {
        transform: translateX(0);
        filter: blur(0px);
    }
}
@keyframes rotate-and-slide-in-from-right {
    0% {
        transform: translateX(100%) rotate(180deg);
    }
    100% {
        transform: translateX(0%) rotate(0deg);
    }
}
